<div class="container">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <form #categoryForm="ngForm" (ngSubmit)="addCategory(categoryForm)">
                        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="categoryService.selectedCategory._id">
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" name="name" #name="ngModel" [(ngModel)]="categoryService.selectedCategory.name"
                                placeholder="Ingrese el Nombre">
                            </div>
                            <div class="input-field col s12">
                                <input type="text" name="description" #description="ngModel" [(ngModel)]="categoryService.selectedCategory.description"
                                placeholder="Ingrese la descripción">
                            </div>
                            <div class="card-action">
                                <div class="input-field col s12">
                                    <button class="btn right">Guardar</button>
                                    <button class="btn left" (click)="resetForm(categoryForm)">Limpiar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s7">
            <table>
                <thead>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                    <tr *ngFor="let category of categoryService.categoriesList">
                        <td>{{category.name}}</td>
                        <td>{{category.description}}</td>
                        <td>
                            <a (click)="editCategory(category)">
                                <i class="material-icons">edit</i>
                            </a>
                            <a (click)="deleteCategory(category)">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>