<a (click)="goBack()" class="waves-effect waves-light btn-small"><i class="material-icons">arrow_back
</i></a>
<div class="container">
    <div class="row">
        <div class="col s4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">CATEGORÍAS</span>
                    <form #categoryForm="ngForm" (ngSubmit)="addCategory(categoryForm)">
                        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="categoryService.selectedCategory._id">
                        <div class="row">
                            <div class="input-field col s12">
                                <input required  type="text" name="name" #name="ngModel" [(ngModel)]="categoryService.selectedCategory.name"
                                placeholder=""> 
                                <label for="name">Nombre</label>                               
                            </div>
                            <div class="input-field col s12">
                                <input type="text" name="description" #description="ngModel" [(ngModel)]="categoryService.selectedCategory.description"
                                placeholder="">
                                <label for="description">Descripción</label>
                            </div>
                            <div class="card-action">
                                <div class="input-field col s12">
                                    <button class="btn right" [disabled]="categoryForm.invalid">Guardar</button>
                                    <button class="btn left" (click)="resetForm(categoryForm)">Limpiar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s8">
            <table>
                <thead>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                    <tr *ngFor="let category of categoryService.categoriesList">
                        <td>{{category.name}}</td>
                        <td>{{category.description}}</td>
                        <td>
                            <a (click)="editCategory(category)">
                                <i class="material-icons">edit</i>
                            </a>
                            <a (click)="deleteCategory(category)">
                                <i class="material-icons">delete</i>
                            </a>
                            <a (click) = "addProducts(category)">
                                <i class="material-icons">add</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>